<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @task.job_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= Task::STATUS.rassoc(@task.status)[0].to_s.upcase %>
</p>

<p>
  <strong>Options:</strong>
  <%= @task.options %>
</p>

<p>
  <strong>Every:</strong>
  <%= @task.every %>
</p>

<p>
  <strong>At:</strong>
  <%= @task.at %>
</p>

<p>
  <strong>Log:</strong><%= link_to 'Clear', clear_log_task_path(@task), method: :post %>
  <ul>
    <% @task.log_list.each do |log| %>
    <li><%= link_to log[0], log_task_path(@task, file: log[0]) %> | <%= log[1] %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Run', run_task_path(@task), method: :post, remote: true %> |
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
