<div>
<h3>Update or create hotels by country name from tripadvisor</h3>
<%= form_tag(update_or_create_hotels_by_country_name_from_tripadvisor_hotels_path, method: :post) do %>

<%= label_tag 'cname' %>
<%= text_field_tag 'cname' %>

<%= label_tag 'review' %>
<%= select_tag 'review', options_for_select([ true, false ], true) %>

<%= submit_tag 'submit' %>

<% end %>
</div>

<div>
<h3>Update or create hotels from asiatravel by country code</h3>
<%= form_tag(update_or_create_hotels_from_asiatravel_by_country_code_hotels_path, method: :post) do %>

<%= label_tag 'code' %>
<%= text_field_tag 'code' %>

<%= submit_tag 'submit' %>

<% end %>
</div>

<div>
<h3>Update or create hotels by hotel infos from asiatravel</h3>
<%= form_tag(update_or_create_hotel_by_hotel_infos_from_asiatravel_hotels_path, method: :post) do %>

<%= label_tag 'hotels' %>
<%= text_area_tag 'hotels' %>

<%= submit_tag 'submit' %>

<% end %>
</div>
