<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review.review_id %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @review.hotel_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
